$text-size-xs: 12px;
$text-size-sm: 14px;


// $light: #f6f6f6;

$background: #f6f6f6;

$primary: #39B4BD;
$primary-2: #ff017b;
$primary-50:#39b4bd75;
// $primary-2:'#FF017B';

$secondary-lighten: #262228;
$secondary: #252634;
$secondary-darken: #161417;

$main-text-color: #6c6c6c;

$main-text-color2: "#90949c";